
body {
	background-image: url("../images/bgtile.png");
	background-repeat: repeat-x;
	max-width: 100%;
}

/*holds center columns*/
.bodycontainer {
	max-width: 80%;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	}

/*holds instalogo login, text, and app imgs*/
.rightcolumn {
	float: right;
	clear: both;
	width: 50%;
}

/*insta logo and login button*/
.header {
	margin-right: 50px;
	display: inline;
	padding: 20px;
}

#instalogo {
	float: left;
}

/*styles home img all others should be overrode by class*/
img {
	margin-top: 5px;
}

#loginbutton {
	padding: 0px 0px 0px 40px;
	margin-bottom: 10px;
}

h2 {
	color: #335C7F;
	font-size: 30px;
	font-weight: 700px;
	width: 80%;
}

button {
	background: #4B74A1;
	color: #DADBDF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 14px;
	border: solid .75px #345170;	
	box-shadow: 10px 10px 5px #345170;

}

/*contains the insta blurb and app pics*/
.frame {
	clear: both;
	background-image: url("../images/frame.png");
	background-repeat: no-repeat;
	display: inline-block;
	padding: 10px;
}

#frameText {
	position: relative;
	margin-top: 150px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	width: 75%
}

#badges {
	margin-top: 50px;
}


/*positions the iphone images*/
.phones {
	margin-left: 100px;
	margin-top: 100px;

}

/*Footer styling*/

footer {
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	bottom: 0;
	margin: auto;
	width: 100%;
	padding: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}

ul {
	display: inline-block;
}

a {
	padding: 10px;
	text-decoration: none;
	color: #335C7F;
}

#copyright {
	float: right;
	color: lightgrey;
}